<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- Required meta tags -->
    <div th:replace="/fragments/navbar :: header"/>
    <title>Book</title>
    <style>
        .alert {color:red}

<!--    <div sec:authorize="isAuthenticated()">Authenticated as <span sec:authentication="name"></span></div>-->
    </style>
</head>
<body>
<div class="container">
    <div th:replace="/fragments/navbar :: navbar"/>
    <div class="jumbotron p-3 mb-2 bg-light text-dark">
        <blockquote class="blockquote text-center">
            <p class="display-4"><a th:text="${bookDto.title}"></a></p>
            <footer class="blockquote-footer">By <cite><a th:text="${bookDto.author}"></a></cite></footer>
        </blockquote>
        <hr class="my-4">
        <div class="container">
            <div class="row">
                <div class="col">Language: <a th:text="${bookDto.language}"></a></div>
                <div class="col">Number Of Pages: <a th:text="${bookDto.numOfPages}"></a></div>
                <div class="w-100"></div>
                <div class="col">Genre: <a th:text="${bookDto.genre}"></a></div>
                <div class="col">Recommended Age: <a th:text="${bookDto.recommendedAge}"></a></div>
                <div class="w-100"></div>
                <div class="col">Price: <a th:text="${bookDto.price}"></a> RON</div>
                <div class="col">In stock: <a th:text="${bookDto.quantity}"></a> pcs.</div>
            </div>
        </div>
        <hr class="my-4">
        <div class="col-md-12 text-center">
            <form action='#' th:action="@{/buyBook}" method='get'>
                <input type="hidden" th:field="*{bookDto.id}" value="*{id}">
                <input type="submit" class="btn btn-primary" value='Buy'/>
            </form>
        </div>
        <hr class="my-4">
        <p class="lead">User Reviews: </p>
        <table class="table table-borderless">
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Review</th>
            </tr>
            <tr th:each="review : ${bookDto.bookReviewSet}">
                <td th:text="${review.userName}">Username</td>
                <td th:text="${review.content}">Content</td>
            </tr>
        </table>
        <div>
            <form action='#' th:action="@{/addReview}" method='post'>
                <table class="table table-borderless">
                    <div class="form-group">
                        <input type="hidden" th:field="*{bookReviewDto.bookId}" value="*{bookId}">
                        <tr>
                            <td>
                    <textarea class="form-control" rows="3" th:field="*{bookReviewDto.content}"
                              placeholder="You can write book review here. Note that you have to be logged in to do so (*)"></textarea><br/>
                            </td>
                            <td th:if="${#fields.hasErrors('bookReviewDto.content')}"
                                th:errors="*{bookReviewDto.content}"
                                class="alert">Review Content Error
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="submit" class="btn btn-primary" value='Submit Review'/>
                            </td>
                        </tr>
                    </div>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>