<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/fragments/navbar :: header"/>
    <title>Save User</title>
</head>

<body>

<div class="container">
    <div th:replace="/fragments/navbar :: navbar"/>

    <h3>Save user</h3>
    <hr>

    <p class="h4 mb-4">Save user</p>

    <form action="#" th:action="@{/users/save}"
          th:object="${userInsertDto}" method="post">

        <input type="text" th:field="*{name}"
               class="form-control mb-4 col-4" placeholder="Full name">

        <input type="text" th:field="*{email}"
               class="form-control mb-4 col-4" placeholder="Email">

        <input type="text" th:field="*{password}"
               class="form-control mb-4 col-4" placeholder="Password">

        <input type="text" th:field="*{address.streetName}"
               class="form-control mb-4 col-4" placeholder="Street name">

        <input type="text" th:field="*{address.streetNumber}"
               class="form-control mb-4 col-4" placeholder="Street number">

        <input type="text" th:field="*{address.city}"
               class="form-control mb-4 col-4" placeholder="City">

        <input type="text" th:field="*{address.country}"
               class="form-control mb-4 col-4" placeholder="Country">

        <input type="text" th:field="*{address.zipCode}"
               class="form-control mb-4 col-4" placeholder="Zip code">

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/users/list}">Back to library users List</a>

</div>
</body>

</html>





