<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<div>
    <p th:text="${bookDto}"></p>
</div>
<div>
    <form action='#' th:action="@{/addReview}" method='post'>
        <input type="hidden" th:field="*{bookReview.id}" value="*{id}">

        <textarea name="content" rows="4" cols="50" th:field="*{bookReview.content}" placeholder="Write book review here"></textarea><br/>
        Username: <input type="text" name="userName" th:field="*{bookReview.userName}"><br/>
        <input type='submit' value='Submit'/>
    </form>
    <br>

    <table>
    <tr th:each="review : ${bookDto.bookReviewSet}">
        <td th:text="${review.userName}">Username</td>
        <td th:text="${review.content}">Content</td>
    </tr>
    </table>
</div>
</body>
</html>